/mnist.tar.gz
/mnist
/dsprites.tar.gz
/dsprites
/multiscalemnist.tar.gz
/multiscalemnist
/coco.tar.gz
/coco
/coco_small.tar.gz
/coco_small
/movi_a.tar.gz
/movi_a
/movi_b.tar.gz
/movi_b
/movi_c.tar.gz
/movi_c
/movi_d.tar.gz
/movi_d
/movi_e.tar.gz
/movi_e
/multiscalemnist*
